@media screen and (max-width: 768px) {
  .img-nosotros {
    height: 10rem;
    width: 100%;
  }
}

.img-nosotros {
    border-radius: 2rem;
    box-shadow: $sombra;
    margin: .5rem;
    &:first-of-type{
        float: right;
        height: 70rem;
        width: 30%;
    }
    &:last-of-type{
        height: 40rem;
        width: calc(70% - 5rem);
    }
  }

.nosotros-layout {
  line-height: 1.5;
}
.fas {
  font-size: 8rem;
}
