.consejos-ahorro {
  li {
    list-style: none;
    padding: 0;
  }
}
.lista-numerada {
  li {
    list-style: decimal;
    padding-left: 1rem;
  }
}
.img-ahorro {
  background-image: url(../img/ahorro.jpg);
  height: 60rem;
  width: 94%;
  margin: 3%;
  // background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  border-radius: 10rem;
  box-shadow: $sombra;
}
.img-ahorro_intro {
  // height: 50rem;
  width: 96%;
  margin: 2%;
  border-radius: 10rem;
  box-shadow: $sombra;
}
@media (min-width: 768px) {
  .img-ahorro_intro {
    float: right;
    width: 40%;
  }
}
