.img-tarjeta{
    display: block;
    width: 60%;
    min-width: 30rem;
 margin: auto;
}

.img-negocio{
    display: block;
    width: 40%;
    min-width: 32rem;
    margin: 5rem auto;
}



