html {
  font-family: "Lato", sans-serif;
  font-size: 62.5%;
}

body {
  font-size: 2rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#25496B), color-stop(15rem, #adbcb2));
  background: linear-gradient(180deg, #25496B 0%, #adbcb2 15rem);
  background-repeat: no-repeat;
}

/*Titulos*/
h1 {
  font-size: 4rem;
  margin: 0;
}

h2 {
  font-size: 3.8rem;
}

h3 {
  font-size: 3.4rem;
}

h4 {
  font-size: 3rem;
}

h1, h2 {
  font-weight: 900;
}

h3, h4 {
  font-weight: bold;
}

/*Reset a enlaces*/
a {
  text-decoration: none;
  color: white;
  padding: .5rem;
}

.nav-links li {
  padding: 0;
  list-style: none;
}

.contenedor {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  padding: .5rem;
}

.alinear {
  text-align: center;
}

.bg-encabezado {
  background-image: url("../img/header.jpg");
  background-position: center 70%;
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 11vh;
}

nav .logo {
  font-size: 4rem;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 2px;
}

nav .logo span {
  font-weight: 900;
  font-style: normal;
}

nav .nav-links {
  margin: 0;
  font-size: 2.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45%;
}

nav .nav-links a:hover {
  color: black;
  background-color: #4ee4dcb2;
  border-radius: .5rem;
}

nav .burger {
  display: none;
}

nav .burger div {
  width: 2.5rem;
  height: 0.3rem;
  background-color: white;
  margin: 0.5rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  nav .logo {
    font-size: 3rem;
  }
  nav .nav-links {
    position: absolute;
    right: 0;
    height: 92vh;
    width: 50%;
    top: 11vh;
    background-color: #25496b;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  }
  nav .nav-links li {
    opacity: 0;
  }
  nav .burger {
    display: block;
    cursor: pointer;
  }
  nav .nav-active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.toggle .linea1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
          transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .linea2 {
  opacity: 0;
}

.toggle .linea3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
          transform: rotate(45deg) translate(-5px, -6px);
}

.principal {
  margin-top: 5rem;
}

.img-introduccion {
  display: block;
  width: 50%;
  min-width: 32rem;
  margin: 5rem auto;
  border-radius: 40rem;
}

.nosotros-layout {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
  margin-top: 5rem;
  gap: 2rem;
}

.nosotros-layout .img-nosotros {
  background-image: url("../img/Nosotros1.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 60rem;
  border-radius: 3rem;
}

.consejos-ahorro li {
  list-style: none;
  padding: 0;
}

.lista-numerada li {
  list-style: decimal;
  padding-left: 1rem;
}

.img-ahorro {
  background-image: url(../img/ahorro.jpg);
  height: 60rem;
  width: 95%;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  border-radius: 10rem;
  -webkit-box-shadow: 7px 5px 16px 5px rgba(0, 0, 0, 0.32);
  box-shadow: 7px 5px 16px 5px rgba(0, 0, 0, 0.32);
}
/*# sourceMappingURL=style.css.map */